.composer * {
  flex-shrink: 0 !important;
}
.header {
  position: relative;

  padding-left: 15px;
  padding-right: 15px;

  border-bottom: 1px solid #9b2222;

  height: 60px;

  z-index: 99;

  box-shadow: 0 1px 6px rgba(0,0,0,0.3);
}
.footer {
  position: relative;

  z-index: 99;

  padding-left: 15px;
  padding-right: 0;

  height: 60px;

  margin-top: auto;

  border-top: 1px solid #9b2222;

  box-shadow: 0 -1px 6px rgba(0,0,0,0.3);
}
.header .back-btn {
  width: 30px;
}
.header img {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  transform: translateX(-10px);
}
.header > span {
  width: 30px;
}
.content {
  overflow-x: hidden;
  overflow-y: auto;

  height: calc(100% - 120px);
}
.contact-info {
  margin-left: auto;
  margin-right: auto;
}
.contact-info span:first-child {
  margin-bottom: 2px;
}
.message-box {
  margin-right: 15px;

  padding-right: 15px;

  flex: 1;
  height: 40px;

  border: 1px solid #333;
  border-radius: 35px;
}
.message-box textarea {
  margin-left: 8px;
  flex: 1;
  height: 25px;
  padding-top: 4px;

  background-color: transparent;

  color: #fafafa;
  font-size: 14px;
  resize: none;
  border: none;
  outline: none;
}
.message-box textarea::placeholder {
  font-family: inherit !important;
  font-size: 14px;
}
.message-box .message-count {
  margin-left: 4px;
  padding-top: 1px;

  width: 30px;
  height: 30px;

  border: 1px solid #9b2222;
  border-radius: 100%;
}
.send-btn {
  margin-right: 15px;
  margin-left: 5px;

  width: 40px;
  height: 40px;

  border-radius: 100%;

  background-color: rgba(155, 34, 34, 0.85);
}
.send-btn img {
  width: 16px;
  height: 16px;

  transform: rotate(90deg);
}
