<div class="composer ui-page-content bg-secondary-black content-column-start">
  <div class="header w-100 content-row-start bg-secondary-red">
    <div (click)="closeComposerMethod()" class="back-btn h-100 content-row-center">
      <img [src]="ASSETS.IMAGE.ICON.BACK" class="ui-icon-lg" alt="">
    </div>
    <div class="contact-info content-column-center">
      <span [ngClass]="{'d-none' : !composeMessageChain.recipient.decoratedFullName}" class="color-secondary-white typo-md typo-bold">{{ composeMessageChain.recipient.decoratedFullName }}</span>
      <span [ngClass]="{'typo-md typo-bold' : !composeMessageChain.recipient.decoratedFullName}" class="color-secondary-white typo-xs">{{ composeMessageChain.recipient.decoratedPhoneNumber }}</span>
    </div>
    <span class="h-100"></span>
  </div>
  <div #contentReference class="content w-100 content-column-start">
    <div *ngFor="let message of composeMessageChain.messages; let i = index" [ngClass]="{'inbox' : message.inbox}" class="message content-column-start">
      <span *ngIf="i !== 0 && message.decoratedTime !== composeMessageChain.messages[composeMessageChain.messages.indexOf(message) - 1].decoratedTime" class="m-time">{{ message.decoratedTime }}</span>
      <p class="m-text">{{ message.body }}</p>
    </div>
  </div>
  <div class="footer w-100 content-row-start bg-secondary-red">
    <div class="message-box content-row-start bg-secondary-black">
      <span class="message-count bg-secondary-red typo-xs color-secondary-white content-row-center">{{ currentBalance }}</span>
      <textarea [(ngModel)]="messageText" maxlength="160" placeholder="შეტყობინება..."></textarea>
    </div>
    <div (click)="sendMessage()" class="send-btn self-end content-row-center">
      <img [src]="ASSETS.IMAGE.ICON.LONG_ARROW_LEFT" alt="">
    </div>
  </div>
</div>
