<ui-notification></ui-notification>
<div class="home ui-page-content bg-secondary-black">
  <header class="home-header p-relative content-row-start w-100 bg-secondary-red">
    <div [ngClass]="{'d-none' : homeHeaderSearchMode}" class="home-header-idle w-100 h-100 content-row-start">
      <p class="brand typo-thirdly color-secondary-white">magtifun<sup>α</sup></p>
      <span class="search-block h-100 self-end content-row-center" (pointerup)="homeHeaderSearchModeToggleMethod()">
        <img class="search-icon" [src]="ASSETS.IMAGE.ICON.SEARCH" alt="">
      </span>
    </div>
    <div [ngClass]="{'d-none' : !homeHeaderSearchMode}" class="home-header-search w-100 h-100 content-row-start">
      <div class="back-btn-box h-100 content-row-center" (click)="homeHeaderSearchModeToggleMethod()">
        <img class="ui-icon-lg" [src]="ASSETS.IMAGE.ICON.LONG_ARROW_LEFT" alt="">
      </div>
      <input #homeHeaderSearchInputReference
             class="typo-secondary typo-md color-secondary-white"
             type="text"
             placeholder="ძებნა"
             autofocus
             [(ngModel)]="homeHeaderSearchValue"
             (blur)="homeOnInputBlur()">
    </div>
  </header>
  <main class="home-body bg-secondary-black">
    <div #carouselRailReference class="carousel-rail content-row-start content-align-start h-100">
      <app-message-list [sectionBodyHeight]="homeBodyHeight"
                        [messagesArray]="homeClientMessagesArray"
                        [contentLoaded]="homeMessageListContentLoaded"
                        (contentLoadedEvent)="homeMessageListContentLoadMethod($event)">
      </app-message-list>
      <app-contact-list [setContactsArray]="homeClientContactsArray"
                        [contentLoaded]="homeContactListContentLoaded"
                        [searchMode]="homeHeaderSearchMode"
                        [setSearchValue]="homeHeaderSearchValue"
                        [sectionBodyHeight]="homeBodyHeight"
                        (contentLoadedEvent)="homeContactListContentLoadMethod($event)">
      </app-contact-list>
    </div>
  </main>
  <footer class="home-footer p-relative content-row-start w-100 bg-secondary-red">
    <div (pointerup)="homeChildPageSelectMethod(page)" *ngFor="let page of homeChildPagesArray" class="icon content-row-center h-100">
      <ui-svg [SVG_CLASS]="'ui-icon-lg'"
              [SVG_STATE]="page.id === homeChildPageSelected.id"
              [SVG_PATH_ACTIVE]="page.iconActive"
              [SVG_PATH_INACTIVE]="page.iconPassive"></ui-svg>
    </div>
  </footer>
</div>
